examples/exampleBCBP.flow
[{"id":"686f3273.4332ec","type":"Decode BCBP","z":"b2f0aa1b.d01ad8","name":"","action":"decode","x":420,"y":60,"wires":[["2bf27d9b.d4e8c2"]]},{"id":"b92d1d.529432e","type":"inject","z":"b2f0aa1b.d01ad8","name":"BCBP String","topic":"","payload":"M1DESMARAIS/LUC       EABC123 YULFRAAC 0834 226F001A0025 106>60000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["686f3273.4332ec"]]},{"id":"2bf27d9b.d4e8c2","type":"debug","z":"b2f0aa1b.d01ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":60,"wires":[]},{"id":"a5980d7d.7e78e","type":"Encode BCBP","z":"b2f0aa1b.d01ad8","name":"","action":"encode","x":420,"y":120,"wires":[["2bf27d9b.d4e8c2"]]},{"id":"ec5d3122.d0fe3","type":"inject","z":"b2f0aa1b.d01ad8","name":"BCBP JSON Data","topic":"","payload":"{\"legs\":[{\"operatingCarrierPNR\":\"ABC123\",\"departureAirport\":\"YUL\",\"arrivalAirport\":\"FRA\",\"operatingCarrierDesignator\":\"AC\",\"flightNumber\":\"0834\",\"flightDate\":\"2018-08-14T00:00:00.000Z\",\"compartmentCode\":\"F\",\"seatNumber\":\"001A\",\"checkInSequenceNumber\":\"0025\",\"passengerStatus\":\"1\"}],\"passengerName\":\"DESMARAIS/LUC\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["a5980d7d.7e78e"]]}]